Host lachesis
    Hostname lachesis.japsu.fi
    ForwardAgent yes

Host helios
    Hostname helios.japsu.fi
    ForwardAgent yes

Host enyo
    Hostname enyo.japsu.fi
    ForwardAgent yes

Host zerg
    Hostname zerg.fixme.fi

Host zero
    Hostname zero.internal
    ProxyCommand ssh zerg -W %h:%p

Host protoss
    Hostname protoss.fixme.fi

Host prime
    Hostname prime.internal
    ProxyCommand ssh protoss -W %h:%p

Host kurikka
    Hostname kurikka.tracon.fi

Host monokkeli
    Hostname monokkeli.tracon.fi

Host jousi
    Hostname jousi.tracon.fi
