# OWN SHELLS

Host helios
    Hostname helios.japsu.fi
    User japsu
    ForwardAgent yes

Host enyo
    Hostname enyo.japsu.fi
    User japsu
    ForwardAgent yes


# TRACON

Host kurikka
    Hostname kurikka.tracon.fi
    User japsu

Host monokkeli
    Hostname monokkeli.tracon.fi
    User japsu

Host jousi
    Hostname jousi.tracon.fi
    User japsu

Host nuoli
    Hostname nuoli.tracon.fi
    User japsu

Host neula
    Hostname neula.kompassi.eu
    User japsu

Host putki
    Hostname putki.tracon.fi
    User japsu

Host siilo
    Hostname siilo.tracon.fi
    User japsu

Host piilo
    Hostname piilo.tracon.fi
    User japsu
