# OWN SHELLS

Host helios
    Hostname helios.japsu.fi
    ForwardAgent yes

Host helios.local
    Hostname 192.168.71.242
    ForwardAgent yes

# TRACON

Host monokkeli
    Hostname monokkeli.tracon.fi

Host putki
    Hostname putki.tracon.fi

Host siilo
    Hostname siilo.tracon.fi

Host piilo
    Hostname piilo.tracon.fi

Host riimu
    Hostname riimu.tracon.fi

Host qb1
    Hostname qb1.con2.fi
    ProxyJump monokkeli

Host qb2
    Hostname qb2.con2.fi
    ProxyJump monokkeli

Host qb3
    Hostname qb3.con2.fi
    ProxyJump monokkeli

Host qb4
    Hostname qb3.con2.fi
    ProxyJump monokkeli
