<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.japsudas</string>
	<key>CFBundleName</key>
	<string>JapsuDAS</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_JapsuDAS</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISIconIsTemplate</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.japsudas.japsudas</string>
		<key>TISIntendedLanguage</key>
		<string>fi</string>
	</dict>
</dict>
</plist>
